# Application configuration
PORT=5000

# Database configuration
MYSQL_USER=YOUR_MYSQL_USER
MYSQL_ROOT_PASSWORD=YOUR_MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=YOUR_MYSQL_DATABASE
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DIALECT=mysql

# Game configuration (This are the default values for the game to work properly)
# You can change them if you want to modify the game behavior (Always test the game after changing these values - more information about the game configuration in the README.md file)
CRITICAL_HIT_PROBABILITY=0.1
STRONG_ATTACK=1.5
WEAK_ATTACK=0.5
MAX_FIRST_FORMULA_LEVEL=9
BASE_XP=100
INCREMENT=50
SEC_FORMULA_INCREMENT=500
INCREMENT_ATTS_FACTOR=0.11
